body {
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    background-color: #000;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.header__logo {
    flex: 1;
}

.header__logo-image {
    width: 70%;
}

.header__logo-image--mobile {
    display: none;
}

.header__search {
    flex: 1;
}

.search-form {
    justify-content: center;
    display: flex;
}

.search-form__input {
    width: 100%;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.header__nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.logout__button-submit,
.login__link,
.mypage__link,
.sell__link {
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.logout__button-submit,
.login__link,
.mypage__link {
    background: none;
    color: #fff;
}

.logout__button-submit {
    padding: 6px 0 5px 0;
}

.login__link,
.mypage__link,
.sell__link {
    display: inline-block;
    text-decoration: none;
    padding: 5px 0 5px 0;
}

.sell__link {
    background: #fff;
    color: #000;
    border-radius: 3px;
    padding: 5px 25px;
}

input::placeholder {
    color: #000;
    font-size: 16px;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px 0;
}

.nav-menu {
    display: flex;
    gap: 15px;
}

/* レスポンシブ対応 */

@media screen and (max-width: 850px) {
    .header__logo-image--desktop {
        display: none;
    }

    .header__logo-image--mobile {
        display: block;
        width: 28%;
        padding-left: 3%;
    }
}

@media screen and (max-width: 950px) {

    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        background: #000;
        position: absolute;
        top: 50px;
        right: 0;
        width: 150px;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
        font-size: 16px;
        text-align: center;
    }

    .nav-menu.active {
        display: flex;
    }

    .header__nav-items {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .header {
        max-width: 1540px;
    }
}
