.flash-message {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;

    background-color: #e6f4ea;
    color: #2e7d32;
    padding: 10px 20px;
    width: 30%;

    opacity: 1;
    transition: opacity 0.5s ease;

    z-index: 1000;
}

.flash-message.fade-out {
    opacity: 0;
}

.tabs {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #2D3748;
}

.tab__item {
    position: relative;
    width: 8%;
}

.tab__item:first-child {
    margin-left: 300px;
}

.tab__link {
    position: absolute;
    bottom: 5px;
    text-decoration: none;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
}

.tab__link.is-active {
    color: red;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 4%;
}

.item-card {
    width: 20%;
    float: right;
    margin-bottom: 40px;
    text-align: center;
}

.item-card__link {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

.item-card__image {
    width: 100%;
}

.item-card__name-text {
    background: none;
    border: none;
    font-size: 18px;
    color: #000000;
}

.item-card__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.item-card__sold {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    aspect-ratio: 1 / 1;
    background-color: #ff4d4d;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.item-card__sold-text {
    position: absolute;
    top: 30%;
    left: 20%;
    color: #ffffff;
    font-size: clamp(15px, 1.2vw, 20px);
    font-weight: bold;
    transform: rotate(-45deg);
    white-space: nowrap;
    display: block;
}

.item-card__sold+.item-card__image {
    filter: brightness(0.8);
}

/* レスポンシブ対応 */

@media screen and (max-width: 768px) {

    .tab__item {
        width: 25%;
    }

    .tab__item:first-child {
        margin-left: 20%;
    }

    .tab__link {
        font-size: 16px;
    }

    .items-list {
        padding-left: 15%;
        padding-right: 15%;
    }

    .item-card {
        width: 100%;
        margin-bottom: 30px;
    }

    .item-card__name-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {

    .tab__item {
        width: 15%;
    }

    .tab__item:first-child {
        margin-left: 20%;
    }

    .items-list {
        gap: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .item-card {
        width: 45%;
        margin-bottom: 30px;
    }

    .item-card__name-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 851px) and (max-width: 1399px) {

    .tab__item {
        width: 15%;
    }

    .tab__item:first-child {
        margin-left: 20%;
    }

    .items-list {
        gap: 3%;
        padding-left: 3%;
    }

    .item-card {
        width: 30%;
        margin-bottom: 30px;
    }

    .item-card__name-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .items__content {
        max-width: 1540px;
    }
}