.item-detail {
    margin-top: 50px;
    margin-bottom: 100px;
}

.item-detail__inner {
    margin: 0 auto;
    display: flex;
    padding-left: 3%;
    padding-right: 3%;
    gap: 100px;
    width: 90%;
}

.item-detail__image-wrapper {
    margin-top: 50px;
    width: 50%;
}

.item-detail__info-wrapper {
    width: 50%;
}

.item-detail__image {
    width: 100%;
    height: auto;
}

.item-detail__name,
.item-detail__brand,
.item-detail__description,
.item-detail__specs,
.item-detail__comments,
.purchase__button {
    width: 100%;
}

.item-detail__brand {
    margin-top: -20px;
}

.item-detail__price {
    display: flex;
    gap: 5px;
    align-items: center;
}

.item-detail__price-amount {
    font-size: 30px;
    padding-bottom: 5px;
}

.item-detail__price-currency,
.item-detail__price-tax {
    font-size: 20px;
}

.item-detail__actions {
    margin: 10px 0 0 30px;
    display: flex;
    gap: 40px;
}

.action__favorite-icon,
.action__comment-icon {
    height: auto;
    align-items: center;
}

.action__favorite-icon {
    width: 35px;
}

.action__comment-icon {
    width: 31px;
}

.action__favorites-count,
.action__comments-count {
    text-align: center;
}

.purchase__link {
    display: block;
    text-align: center;
    text-decoration: none;
}

.purchase__link,
.comment__form-submit,
.sold__button {
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.purchase__link,
.comment__form-submit {
    background-color: #FF0000;
    cursor: pointer;
}

.purchase__link:hover,
.comment__form-submit:hover {
    background-color: #cc0000;
}

.sold__button {
    background-color: #444;
}

.item-detail__categories {
    margin-top: -20px;
}

.item-detail__categories,
.item-detail__condition {
    display: flex;
    gap: 30px;
}

.item-detail__categories-label,
.item-detail__condition-label {
    font-weight: bold;
    width: 15%;
}

.item-detail__categories-wrapper {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 0;
}

.item-detail__categories-content {
    float: right;
    background-color: #eee;
    border: none;
    border-radius: 20px;
    padding: 0 10px;
}

.comment__item-wrapper {
    display: flex;
    gap: 20px;
}

.comment__user-image {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
}

.comment__user-name {
    font-weight: bold;
}

.comment__text {
    background-color: #eee;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.comment__form-label {
    font-weight: bold;
    font-size: 18px;
}

.comment__form-textarea {
    width: 100%;
    margin-top: 10px;
    height: 200px;
    outline: none;
    font-size: 16px;
    padding: 10px;
    font: inherit;
}

.form__error {
    line-height: 1.5;
    min-height: 1.5em;
}

.form__error-text {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.comment__form-button {
    margin-top: 20px;
}

.comment__form-submit {
    width: 100%;
}

/* レスポンシブ対応 */

@media screen and (max-width: 767px) {
    .item-detail__inner {
        max-width: 600px;
        display: block;
    }

    .item-detail__image-wrapper,
    .item-detail__info-wrapper {
        width: 100%;
    }

    .item-detail__name-text {
        font-size: 22px;
    }

    .item-detail__brand {
        margin-top: 10px;
    }

    .item-detail__price-amount {
        font-size: 22px;
    }

    h2 {
        margin-top: 40px;
        font-size: 20px;
    }

    .item-detail__categories {
        margin: 0;
    }

    .item-detail__categories-label,
    .item-detail__condition-label {
        width: 30%;
    }

    .item-detail__categories,
    .item-detail__condition {
        display: block;
    }

    .purchase__button,
    .comment__form-button {
        padding-right: -50%;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
    .item-detail__inner {
        gap: 50px;
    }

    .item-detail__name {
        margin-bottom: 30px;
    }

    .item-detail__name-text {
        font-size: 24px;
    }

    .item-detail__categories,
    .item-detail__condition {
        display: block;
    }

    .item-detail__categories-label,
    .item-detail__condition-label {
        width: 30%;
    }

    .item-detail__categories {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .item-detail__info-wrapper {
        max-width: 1540px;
    }
}