.purchase-form {
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}

.form {
    display: flex;
    gap: 5%;
}

.form__left-wrapper {
    width: 60%;
}

.form__right-wrapper {
    width: 35%;
}

.form__item-info {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid #000;
}

.form__image-wrapper {
    width: 30%;
}

.form__image {
    width:100%;
    height: auto;
}

.form__info-wrapper {
    text-align: left;
    margin-top: -30px;
    margin-left: 40px;
}

.form__name--text {
    font-size: 26px;
}

.form__price {
    display: flex;
    align-items: center;
    margin-top: -40px;
}

.form__price-currency,
.form__price-amount {
    font-size: 24px;
}

.form__payment-method,
.form__shipping-address--wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.form__payment-method--text,
.form__shipping-address--text {
    font-size: 22px;
}

.form__payment-method--content,
.form__shipping-address--content-first,
.form__shipping-address--content-second {
    margin-left: 100px;
}

.form__payment-method--content,
.form__shipping-address--content-first {
    margin-top: 50px;
}

.form__payment-method--select {
    width: 40%;
    height: 30px;
    border: 1px solid #888;
    border-radius: 3px;
    outline: none;
}

.form__shipping-address--wrapper {
    display: flex;
    width: 100%;
}

.form__shipping-address--content-first,
.form__shipping-address--content-second {
    width: 100%;
}

.form__shipping-address--content-first {
    display: flex;
}

.form__shipping-address--postal-code,
.form__shipping-address--address,
.form__shipping-address--building {
    border: none;
    width: 100%;
    font-size: 16px;
}

.update__form {
    margin-top: 20px;
    width: 35%;
    text-align: right;
}

.update__form-link {
    text-decoration: none;
}

.purchase-table {
    width: 100%;
    height: 200px;
}

.purchase-table__row {
    border: 1px solid #000;
}

.purchase-table__header {
    width: 50%;
    font-weight: normal;
    font-size: 18px;
}

.purchase-table__price,
.purchase-table__payment-method {
    text-align: center;
    font-size: 18px;
}

.purchase__button {
    margin-top: 50px;
}

.purchase__button-submit,
.sold__button {
    width: 100%;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.purchase__button-submit {
    background-color: #FF0000;
    cursor: pointer;
}

.purchase__button-submit :hover {
    background-color: #cc0000;
}

.sold__button {
    background-color: #444;
}

.form__error {
    margin-left: 100px;
    line-height: 1.5;
    min-height: 1.5em;
}

.form__error-text {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

/* レスポンシブ対応 */

@media screen and (min-width: 768px) and (max-width: 850px) {

    .form {
        gap: 8%;
    }
    .form__left-wrapper {
        width: 55%;
    }

    .form__right-wrapper {
        width: 40%;
    }

    .form__item-info {
        display: block;
    }

    .form__image-wrapper {
        width: 60%;
        margin: 0 auto;
    }

    .form__info-wrapper {
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        padding-left: 5%;
    }

    .form__name {
        margin-bottom: 30px;
    }

    .form__name--text {
        font-size: 22px;
    }

    .form__price-currency,
    .form__price-amount {
        font-size: 22px;
    }

    .form__price {
        margin-bottom: -50px;
    }

    .form__shipping-address--wrapper {
        display: block;
    }

    .form__payment-method--text,
    .form__shipping-address--text {
        margin-left: -5%;
    }

    .form__payment-method--content,
    .form__shipping-address--content-first,
    .form__shipping-address--content-second {
        width: 150%;
        margin: 0 auto;
    }

    .update__form {
        width: 100%;
        text-align: center;
    }

    .form__error {
        margin-left: 0;
    }

    .form__error-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .purchase-form {
        max-width: 1540px;
    }
}

