.purchase-form {
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
}

.form {
    display: flex;
    gap: 5%;
}

.form__left-wrapper {
    width: 60%;
}

.form__right-wrapper {
    width: 35%;
}

.form__item-info {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid #000;
}

.form__image-wrapper {
    width: 30%;
}

.form__image {
    width:100%;
    height: auto;
}

.form__info-wrapper {
    text-align: left;
    margin-top: -30px;
    margin-left: 40px;
}

.form__name--text {
    font-size: 26px;
}

.form__price {
    display: flex;
    align-items: center;
    margin-top: -40px;
}

.form__price-currency,
.form__price-amount {
    font-size: 24px;
}

.form__payment-method,
.form__shipping-address--wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.form__payment-method--text,
.form__shipping-address--text {
    font-size: 22px;
}

.form__payment-method--content,
.form__shipping-address--content {
    margin-left: 100px;
}

.form__payment-method--content,
.form__shipping-address--content:first-child {
    margin-top: 50px;
}

.form__payment-method--select {
    width: 40%;
    height: 30px;
    border: 1px solid #888;
    border-radius: 3px;
    outline: none;
}

.form__shipping-address--wrapper {
    display: flex;
    width: 100%;
}

.form__shipping-address--content {
    width: 100%;
    display: flex;
}

.form__shipping-address--postal-code,
.form__shipping-address--address,
.form__shipping-address--building {
    border: none;
    width: 100%;
    font-size: 16px;
}

.update__form {
    margin-top: 20px;
    width: 35%;
    text-align: right;
}

.update__form-link {
    text-decoration: none;
}

.purchase-table {
    width: 100%;
    height: 200px;
}

.purchase-table__row {
    border: 1px solid #000;
}

.purchase-table__header {
    width: 50%;
    font-weight: normal;
    font-size: 18px;
}

.purchase-table__price,
.purchase-table__payment-method {
    text-align: center;
    font-size: 18px;
}

.purchase__button {
    margin-top: 50px;
}

.purchase__button-submit {
    width: 100%;
    background-color: #FF0000;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.purchase__button-submit :hover {
    background-color: #cc0000;
}

.form__error {
    margin-left: 100px;
    line-height: 1.5;
    min-height: 1.5em;
}

.form__error-text {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

