.profile-form {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
}

.form {
    margin-top: 50px;
}

#image-upload {
    display: none;
}

.form__image {
    margin: 0 auto;
    width: 35%;
}

.form__image-content {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.form__image-item {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.form__image-file {
    padding: 5px 20px;
    color: #FF0000;
    font-weight: bolder;
    border: 2px solid #FF0000;
    border-radius: 3px;
    cursor: pointer;
}

.form__image-file:hover {
    color: #cc0000;
    border: 2px solid #cc0000;
}

.form__group {
    margin: 0 auto;
    margin-top: 20px;
}

.form__group-title,
.form__group-content {
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

.form__group-content {
    margin-top: 5px;
}

.form__label--item {
    font-weight: bold;
    font-size: 18px;
}

.form__item-input {
    width: 100%;
    height: 40px;
    border: 0.5px solid #666;
    border-radius: 3px;
    outline: none;
    padding: 5px 0 5px 10px;
    font-size: 15px;
}

.form__error {
    line-height: 1.5;
    min-height: 1.5em;
}

.form__error-text {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    width: 50%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: red solid 0.5px;
    border-radius: 3px;
    cursor: pointer;
}

.register-form__login {
    margin-top: 20px;
}

.register-form__login-link {
    text-decoration: none;

}

.form__button-submit:hover {
    background-color: #cc0000;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .form__group-title,
    .form__group-content {
        width: 50%;
        max-width: 500px;
    }

    .form__button-submit {
        width: 50%;
        max-width: 500px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {

    .form__group-title,
    .form__group-content {
        width: 60%;
    }

    .form__button-submit {
        width: 60%;
    }
}