.profile-form {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
}

.form {
    margin-top: 50px;
}

#image-upload {
    display: none;
}

.form__image {
    margin: 0 auto;
    width: 35%;
}

.form__image-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.form__image--item {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.form__image-file {
    padding: 5px 20px;
    color: #FF0000;
    font-weight: bolder;
    border: 2px solid #FF0000;
    border-radius: 3px;
    cursor: pointer;
}

.form__image-file:hover {
    color: #cc0000;
    border: 2px solid #cc0000;
}

.form__group {
    margin: 0 auto;
    margin-top: 50px;
}

.form__group-title,
.form__group-content {
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

.form__group-content {
    margin-top: 5px;
}

.form__label--item {
    font-weight: bold;
    font-size: 18px;
}

.form__item-input {
    width: 100%;
    height: 40px;
    border: 0.5px solid #666;
    border-radius: 3px;
    outline: none;
    padding: 5px 0 5px 10px;
    font-size: 15px;
}

.form__error {
    line-height: 1.5;
    min-height: 1.5em;
}

.form__error-text {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    width: 50%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: red solid 0.5px;
    border-radius: 3px;
    cursor: pointer;
}

.register-form__login {
    margin-top: 20px;
}

.register-form__login-link {
    text-decoration: none;

}

.form__button-submit:hover {
    background-color: #cc0000;
}

/* レスポンシブ対応 */

@media screen and (max-width: 767px) {

    .profile-form__heading-text {
        font-size: 20px;
    }

    .form__image-content {
        display: block;
    }

    .form__image--item {
        width: 100%;
        height: 100%;
        max-width: 150px;
    }

    .form__image-file {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 150px;
        margin-top: 30px;
        padding: 5px 10px;
        font-size: 14px;
    }

    .form__label--item {
        font-size: 16px;
    }

    .form__group-title,
    .form__group-content {
        width: 80%;
        max-width: 350px;
    }

    .form__button-submit {
        width: 60%;
        font-size: 18px;
        max-width: 270px;
    }

    .form__error-first {
        width: 200%;
        max-width: 350px;
        margin-left: -50%;
    }

    .form__error-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 850px) {

    .profile-form__heading-text {
        font-size: 22px;
    }

    .form__image {
        width: 50%;
        max-width: 400px;
    }

    .form__image--item {
        width: 100%;
        height: 100%;
        max-width: 150px;
    }

    .form__image-file {
        width: 100%;
        max-width: 200px;
        font-size: 16px;
    }

    .form__label--item {
        font-size: 16px;
    }

    .form__group-title,
    .form__group-content {
        width: 60%;
        max-width: 400px;
    }

    .form__button-submit {
        width: 60%;
        font-size: 20px;
        max-width: 400px;
    }

    .form__error-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 851px) and (max-width: 1399px) {

    .form__image {
        width: 55%;
        max-width: 450px;
        text-align: center;
    }

    .form__image--item {
        width: 80%;
        height: 80%;
        max-width: 200px;
    }

    .form__image-file {
        width: 100%;
        max-width: 250px;
    }

    .form__group-title,
    .form__group-content {
        width: 55%;
        max-width: 450px;
    }

    .form__button-submit {
        width: 55%;
        max-width: 450px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .form__image {
        max-width: 500px;
    }

    .form__group-title,
    .form__group-content {
        max-width: 500px;
    }

    .form__button-submit {
        max-width: 500px;
    }
}