.mypage__content {
    margin-top: 70px;
    margin-bottom: 100px;
    text-align: center;
}

.profile__content {
    display: flex;
    margin: 0 auto;
}

.profile__content-wrapper {
    width: 70%;
    margin-left: 2%;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15%;
    padding-left: 15%;
}

.profile__image {
    width: 18%;
}

.profile__image-item {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 50%;
}

.edit-profile {
    display: flex;
    align-items: center;
}

.edit-profile__link {
    width: 100%;
    padding: 5px 20px;
    color: #FF0000;
    font-weight: bolder;
    border: 2px solid #FF0000;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.edit-profile__link:hover {
    color: #cc0000;
    border: 2px solid #cc0000;
}

.tabs {
    margin-top: 30px;
    display: flex;
    height: 80px;
    border-bottom: 1px solid #2D3748;
}

.tab__item {
    position: relative;
    width: 20%;
}

.tab__item:first-child {
    margin-left: 100px;
}

.tab__item-link {
    position: absolute;
    bottom: 5px;
    text-decoration: none;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
}

.tab__item-link.is-active {
    color: red;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 4%;
}

.item-card {
    width: 20%;
    float: right;
    margin-bottom: 40px;
    text-align: center;
}

.item-card__link {
    border: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

.item-card__image {
    width: 100%;
}

.item-card__name-text {
    background: none;
    border: none;
    font-size: 18px;
    color: #000000;
}

/* 「sold」表示の装飾（親要素） */
.item-card__image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

/* SOLDラベルの土台 */
.item-card__sold {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    aspect-ratio: 1 / 1;
    background-color: #ff4d4d;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

/* SOLDの文字 */
.item-card__sold-text {
    position: absolute;
    top: 30%;
    left: 20%;
    color: #ffffff;
    font-size: clamp(15px, 1.2vw, 20px);
    font-weight: bold;
    transform: rotate(-45deg);
    white-space: nowrap;
    display: block;
}

/* 売り切れ商品の画像に少しフィルターをかけると分かりやすい */
.item-card__sold+.item-card__image {
    filter: brightness(0.8);
    /* 少し暗くする */
}

/* レスポンシブ対応 */

@media screen and (min-width: 768px) and (max-width: 850px) {

    .mypage__content {
        margin-top: 30px;
    }

    .profile__content-wrapper {
        gap: 10%;
    }

    .profile__image {
        width: 23%;
    }

    .profile__name-text {
        font-size: 24px;
    }

    .edit-profile__link {
        font-size: 14px;
    }

    .tabs {
        margin-top: 0px;
    }

    .tab__item {
        position: relative;
        width: 26%;
    }

    .tab__item:first-child {
        margin-left: 2%;
    }

    .tab__item-link {
        font-size: 16px;
    }

    .items-list {
        gap: 2%;
        padding-left: 6%;
    }

    .item-card {
        width: 22%;
        margin-bottom: 30px;
    }

    .item-card__name-text {
        font-size: 16px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {

    .items-list {
        max-width: 1540px;
    }
}